@import './variables' ;

#FAQ_container{
    width: 50rem ;
    max-width: 91% ;
}

.question_div{
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2) ;
    border-radius: 12px ;
    width: 43rem ;
    max-width: 100% ;
    margin: auto ;
    margin-top: 1.2rem ;
}
.question{
    background-color: white ;
    width: 100% ;
    padding: 17px 1.5rem ;
    cursor: pointer ;
    border-radius:7px ;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    gap: 12px ; 
}

.question_p{
    font-size: $text-size ;
    line-height: 1.7 ;
    color: $title-color ; 
    font-weight: 500 ;
}

.answer{
    border-top: 1px solid $lightblue ; 
    transition: $transition ;
}

.answer-closed{
    height: 0 ;
    padding: 0rem 1rem ;
    
}

.answer-opened{
    height: auto ; 
    padding: 1rem ;
}

.answer-p{
    transition: $transition ;
    font-size: $small-size ; 
    color: $text-color ; 
}

.answer-p-show{
    opacity: 1 ;
    transition-delay: ($transition + 0.05) ;
}

.answer-p-hidden{
    opacity: 0 ;
    transform: translateY(-0.5rem) ; 
}

.icon_div{
    width: 2.2rem; 
    height: 2.2rem ;
    background-color: white ;
    border-radius: 50% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    transition: $transition/2 ; 
}

.icon_div:hover{
    background-color: $lightblue ; 
}

.up_icon_div{
    transform: rotate(180deg) ; 
    transform-origin: center ;
}

#FAQ_arrow_icon{
    stroke: $text-color ; 
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .question_p{
        font-size: 20px ; 
    }

    .question{
        padding-top: 14px ;
        padding-bottom: 14px; 
    }

    .answer-p{
        font-size: 18px !important ; 
    }

    #FAQ_container{
        max-width: 94% ; 
    }

    .question{
        padding: 14px 1.5rem ;
    }
}

@media screen and (min-width: 1025px){
    .question_p{
        font-size: $desktop_medium_size ;
    }

    .answer-p{
        font-size: $desktop_text_size !important ; 
    }

    .question{
        padding: 12px 1.5rem ;
    }
}