@import './variables.scss' ;

#section1{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}

#section1_div1{
    width: $width1 * 1rem ;
    max-width: $containers-width * 1vw ; 
}

#register_form_div{
    width: 100% ; 
    margin: auto ; 
}

#register_button{
    background-color: $main-blue ;
    color: white ; 
    width: 100% ; 
    margin-top: $margin-top3 ; 
    border: none ; 
    padding: 13px 0rem ; 
    border-radius: 10px ; 
    font-size: $fixed_text_size ; 
    font-family: "Dana";
    cursor: pointer ; 
}
  
#register_button:hover{
    background-color: $second-blue ;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .first-view-title{
        font-weight: 900 ;
    }

    .first-view-short-text{
        font-size: 20px ; 
        text-align: right ;
    }

    #section1_div1{
        width: 22rem ; 
    }
}

@media screen and (min-width: 1025px){
    #section1{
        flex-direction: row ;
        justify-content: center;
        width: $desktop_containers_width * 1% ;
        gap: 150px ; 
    }

    #section1_div1{
        width: 18rem ;
        max-width: 43% ;
    }

    .first-view-title{
        text-align: right ;
        font-weight: 900 ;
    }

    .first-view-short-text{
        text-align: right ;
        font-size: $desktop_medium_size ; 
    }
}