@import "./variables.scss" ; 

$slider_desktop_width: 25 ;

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}
#slider{
    width: $width1 * 1rem ; 
    height: #{ $width1 * 0.67}rem ;
    overflow: hidden ; 
    margin-top: 2rem ;
    border-radius: 1rem ; 
    position: relative ;
}
  
#slides{
    height: 100% ; 
    display: flex ;
    justify-content: left ;
    position: absolute ; 
    top: 0% ;
    left: 0 ;
    direction: ltr ;
}
  
.slide{
    width: #{ $width1 * 1 }rem ;
    height: 100% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    transition: 0.3s;
}
  
.slide_img{
    display: block ; 
    width: 100% ;
    height: 100%  ; 
}
  
#slider_dots{
    direction: ltr ; 
    display: flex ;
    justify-content: center;
    width: 24px ;
    height: 11px ;
    align-items: center ;
    border-radius: 100px ;
    background-color: rgba(255,255,255,0.2) ; 
    position: absolute ;
    bottom: 8px; 
    right: 50% ;
    transform: translateX(50%) ;
    gap: 4px ;
}
  
.slider_dot{
    background-color: rgba(255,255,255,0.5) ;
    width: 6px ;
    height: 6px ;
    border-radius: 50% ;
}
  
.active_slider_dot{
    background-color: white !important ;
}
  
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #slider{
        width: #{ $width1 * 1 * 1.2 }rem ;
        height: #{ $width1 * 1 * 0.804}rem ; // 0.804 = 0.67 * 1.2
    }

    .slide{
        width: #{ $width1 * 1 * 1.2 }rem ; 
    }
}

@media screen and (min-width: 1025px){
    #slider{
        margin-top: 0 !important;
        width: $slider_desktop_width * 1rem ;
        height: $slider_desktop_width * 0.67rem ;
    }

    .slide{
        width: $slider_desktop_width * 1rem ;
    }
}
  
  
  
  
  
  