$small-size: 0.9rem ;
$fixed_small_size: 14px ;
$text-size: 1rem ;
$desktop_text_size: 18px ;
$desktop_medium_size: 21px ;
$fixed_text_size: 16px ;
$title_size: 1.4rem ;
$fixed_title2_size: 22px ; 
$title2_size: 1.1rem ;

$text-color: #6c6c79 ;
$dark-gray: #373641 ;
$title-color: #252a3c ; 
$main-blue: #0048d9 ;
$second-blue: #1457dc ;
$lightblue: #e5edfb ;

$margin-top1: 0.5rem ;
$margin-top2: 1rem ; 
$margin-top3: 1.5rem ; 
$margin-top4: 2rem ;
$margin-top8: 4rem ;
$margin-top14: 5.5rem ; 

$transition: 0.3s ; 

$containers-width: 85 ; 
$desktop_containers_width: 94 ;
$width1: 20 ;